.HeaderWrapper {
  margin-bottom: 1.5em;
}

.Navbar {
  color: rgb(0, 0, 0);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  padding: 1.8em;
}

.Navbar__header {
  align-self: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    color: #777;
    letter-spacing: 0.06px;
    font-weight: 700;
    line-height: 13px;
    margin: 12px 0;
  }

  a {
    width: 65px;
  }
}

.Navbar__header_logo {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 0;
}

.Navbar__pageStatus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Navbar__pageStatus_el {
    text-align: center;
    width: 225px;
    padding: 11px 22px;
    border: 1px solid #e2e2e2;
    cursor: default;
    border-radius: 14px;
    margin: 12px;
  }

  .Navbar__pageStatus_el_focused {
    text-align: center;
    width: 225px;
    padding: 11px 22px;
    border: 1px solid #91a0db;
    box-shadow: 3.5px 3.5px 2.5px #91a0db;
    cursor: default;
    border-radius: 14px;
    margin: 12px;
  }
}

@media screen and (max-width: 821px) {
  .Navbar {
    padding: 0 1em;
    margin-bottom: 0;

    .Navbar__left {

      .Navbar__logo {
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
          padding-right: 1em;
        }

        h2 {
          display: none;
        }
      }
    }
  }
}
