<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>

<body>
    <!-- Current directory views/pages -->
    <main class="booking_page border_round">
        <section class="top_container">
            <div class="header">
                <h1>FACE2UNE</h1>
                <a href="">Log in</a>
            </div>
            <ol class="progress">
                <li class="active step-container">Choose Appointment</li>
                <li class="step-container">Your info</li>
                <li class="step-container">Confirmation</li>
            </ol>
        </section>
        <div class="button_container">
            <button class="bubbly-button code_button">USE MY CODE</button>
        </div>
        <section class="appointments">
            <% 
                //here "10" is arbitrary number of appointments//
                for(let i = 0; i < 10; i++) { 
            %>
            <%- include('../partials/appointment.ejs') %>
            <% } %>
        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="javascripts/slick.min.js"></script>
    <script src="javascripts/script.js"></script>
</body>

</html>