<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body>
    <!-- Current directory views/pages -->
    <main class="booking_page">

        <section class="top_container">
            <div class="header">
                <h1>FACE2UNE</h1>
                <a href="">Log in</a> 
            </div>
            <ol class="progress">
                <li class="active step-container">Choose Appointment</li>
                <li class="step-container">Your info</li>
                <li class="step-container">Confirmation</li>
            </ol>
        </section>

        <section class="appointments">
            <button class="bubbly-button">USE MY CODE</button>
            <div class="appointment">
                <div class="appointment_body">
                    <h>BACK TO BASICS</h>
                </div>
                
            </div>
        </section>    
        
    </main>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = "javascripts/slick.min.js"></script>
<script src = "javascripts/script.js"></script>
</body>
</html>