<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <div class = "container">
            <div class = "login_container">
                <div class = "login_form">
                    <h1>Регистрация</h1>
                    <form action="/register" method="POST">
                        <input type="text" name="username" id="email" placeholder="Введите адрес эл. почты">
                        <input type="password" name="password" id ="pass" placeholder="Введите пароль">
                        <input type="password" name="password_check" id="pass_check" placeholder="Подтвердите пароль">
                        <div class = "checkbox_control">
                            <div>
                                <input type="checkbox" name="checkbox_1" id="check_1">
                                <label for="check_1">Я согласен с <a href = "#">правилами Программы Лояльности</a></label>
                            </div>
    
                            <div>
                                <input type="checkbox" name="checkbox_2" id="check_2">
                                <label for="check_2">Я согласен на обработку моих <a href = "#">персональных данных</a></label>
                            </div>
    
                            <div>
                                <input type="checkbox" name="checkbox_3" id="check_3">
                                <label for="check_3">Я согласен на получение маркетинговых материалов</label>
                            </div>
                        </div>
                        <button type="button">Я не робот</button>
                        <button class = "form-submit-button" type="submit">Зарегистрироваться</button>
                        <a href="/login">уже есть аккаунт? войти</a>
                    </form>
                   
                </div>
            </div>
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = "javascripts/slick.min.js"></script>
<script src = "javascripts/banner.js"></script>
</body>
</html>