  .SignIn__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      color: #777;
      letter-spacing: 0.06px;
      font-size: 14px;
      font-weight: 700;
      line-height: 13px;
      margin: 12px 0;
    }

    h2 {
      margin-bottom: 1rem;
    }

    .Input {
      margin: 10px 0;
      width: 55%;
    }

    .SignIn_content_error {
      color: #B71C1C;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 1em;
      text-align: center;
    }
  }

  .SignIn__bottom {
    margin-top: 25px;
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .SignIn__bottom_btns {
      display: flex;
      margin-bottom: 1.5rem;

      button {
        margin-right: 0.75rem;
      }
    }
  }

  @media screen and (max-width: 821px) {
    .SignIn__bottom {
      .SignIn__bottom_btns {
        button {
          margin-bottom: 0.75rem;
          margin-right: 0;
          width: 100%;
        }
      }

    }
  }
