.InputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    color: #8e8e93;
    line-height: 13px;
    margin-bottom: 5px;
  }

  input, textarea {
    padding: 8px 16px;
    background: #ffffff;
    border: 2px solid #f2f2f7;
    border-radius: 6px;
    color: #8e8e93;
    letter-spacing: -0.32px;
  }

  input:focus {
    outline: none !important;
    border: 2px solid #e65100;
  }

  .Input__Invalid {
    background: #ffebee;
    border: 2px solid #b71c1c;
    border-radius: 6px;
  }

  small {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.066px;
    color: #b71c1c;
    margin-top: 0.85em;
  }

  div svg {
    align-self: flex-end;
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 8px;
  }
}
