@font-face {
  font-family: 'Point-soft';
  src: url("Point-soft.ttf"); }

body {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  color: #313131;
  font-weight: 400;
  font-size: 1vw;
  flex-direction: column;
  align-items: center; }

h1, h2, h3, h4, p, a, li, ul, ol, span, div, button, input, textarea, div {
  font-family: 'Point-soft'; }

.border_round {
  border-radius: 20px; }

.border_element {
  border-radius: 15px;
  border: 1px solid lightgray; }

/* Top part of the page */
.booking_page {
  width: 50%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 20px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center; }

.top_container {
  width: 100%;
  margin-bottom: 5%; }

.header {
  text-align: center; }
  .header a {
    position: absolute;
    right: 27%;
    top: 20px;
    color: #778cdb; }

.progress {
  height: 40%;
  display: flex;
  justify-content: space-around;
  padding-left: 0; }

.step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 10px;
  width: 30%;
  transition-duration: 0.3s; }

.step-container.active {
  border-color: #91a0db;
  box-shadow: 2px 2px 2px #91a0db; }

/* Apppointents */
.appointments {
  height: 100%;
  overflow: auto;
  width: 90%;
  display: flex;
  flex-direction: column; }

/* Bubbly button */
.bubbly-button {
  z-index: 1;
  min-width: 15%;
  height: 70%;
  margin-bottom: 5%;
  font-size: 0.8vw;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  background-color: #91a0db;
  color: floralwhite;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.2s;
  box-shadow: 0 0 5px #6876a8; }
  .bubbly-button:focus {
    outline: 0; }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, transparent 20%, #91a0db 20%, transparent 30%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, transparent 10%, #91a0db 15%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, transparent 10%, #91a0db 15%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%), radial-gradient(circle, #91a0db 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #7e8fd5;
    box-shadow: 0 0 20px #6876a8; }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards; }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

.button_container {
  width: 100%; }

.code_button {
  margin-left: 5%; }

/*///////////////*/
.appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  margin-bottom: 2%; }

.appointment_body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5%; }
  .appointment_body p1 {
    font-weight: bold; }

.appointment_header {
  display: grid;
  margin-bottom: 4%; }
  .appointment_header p1 {
    grid-column: 1; }
  .appointment_header p2 {
    grid-column: 1; }
  .appointment_header button {
    grid-column: 2;
    width: 25%;
    height: 100%;
    grid-row: 1;
    text-align: center;
    justify-self: end; }

.time_price {
  color: #686868; }

.appointment_description {
  color: #686868; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  animation: fadeIn 1s; }

.modal_book_content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  animation: slideIn .8s linear; }

@keyframes slideIn {
  0% {
    transform: translateY(400px);
    animation-timing-function: ease-out; }
  60% {
    transform: translateY(-30px);
    animation-timing-function: ease-in; }
  80% {
    transform: translateY(10px);
    animation-timing-function: ease-out; }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal_book_header {
  display: flex;
  justify-content: space-between; }

.modal_book_body {
  display: flex;
  flex-direction: column; }

.x {
  color: #aaaaaa;
  align-self: end;
  font-size: 300%;
  font-weight: bold;
  background: none;
  border: none; }
  .x:active {
    color: #6b6a6a; }

.appointment_info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 3%; }

.desc_appointment {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2%; }
  .desc_appointment .slide_down {
    overflow: hidden;
    transition: all .5s ease-in-out;
    transition-delay: .3s;
    height: 0; }
  .desc_appointment:hover .slide_down {
    height: 4vw; }

.passenger {
  font-size: 130%;
  margin-bottom: 2%; }

.additional_body {
  display: flex;
  flex-direction: column;
  width: 100%; }

.options_button {
  width: fit-content;
  height: 2vw;
  margin-bottom: 3%; }

.options_container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0%;
  visibility: hidden; }
  .options_container .options_grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1fr;
    gap: 20px;
    max-width: 90%;
    max-height: 90%; }

.option {
  display: flex;
  flex-direction: row; }
  .option label {
    display: flex;
    flex-direction: column; }
  .option input {
    align-self: flex-start; }

@media (max-width: 700px) {
  body {
    font-size: 2vw; }
  .header a {
    right: 7%; }
  .booking_page {
    width: 100%; }
  .bubbly-button {
    font-size: 1.5vw; }
  .modal_book_content {
    width: 85%; }
  .desc_appointment:hover .slide_down {
    height: 10vw; }
  .options_button {
    height: 4vw; } }
