body{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    color: #313131;
    font-weight: 400;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: 'Point-soft';
    src: url('Point-soft.ttf');
}
h1,h2,h3,h4,p,a,button,li,span,input,textarea,div{
    font-family: 'Point-soft';
}
.booking_main{
    width: 70%;
    height: 100vh;
}