.ConfirmationPackage {
  width: 100%;
}

.ConfirmationPackage__header {
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.Confirmation__footer {
  p {
    margin-bottom: 0.5rem;
  }

  button {
    margin-top: 1rem;
    align-self: flex-end;
  }
}

.PackageInfoForm {
  margin-bottom: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid #e2e2e2;
  padding: 33px;
  border-radius: 16px;
}

