.Home {
  width: 100%;

  //My Games Section
  .Home__myGames {
    margin-bottom: 3.5em;
    .Home_myGames_title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.38px;
      color: #1c1c1e;
    }

    .Home_myGames_list {
      /* width: 100%;
      padding: 0.4em;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;

      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      } */

      .Home_myGames_list_item {
        text-decoration: none;
        position: relative;
        display: flex;
        justify-items: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        margin: 1em 1.25em 1em 0;
        transition: 0.2s;

        &:hover {
          .Home_myGames_list_item_btn {
            opacity: 1;
          }
        }

        .Home_myGames_list_item_btn {
          opacity: 0.8;
          position: absolute;
          top: 0.4em;
          right: 0.4em;
          width: 1.8em !important;
          height: 1.8em;
          border-radius: 100%;
          padding: 0;
          font-size: 18px;
          font-weight: 700;
          display: flex;
          align-items: center;

          a {
            height: 24px;
            width: 24px;
          }

          a svg {
            align-self: center;
          }
        }

        .Home_myGames_list_item_icon {
          height: 13em;
          width: 9.75em;
        }

        img:hover {
          opacity: 0.65;
        }

        .Home_myGames_list_item_bottom {
          display: flex;
          text-align: start;
          min-height: 2.2em;
          padding: 0.75em 0;
          width: 100%;

          line-height: normal;

          .Home_myGames_list_item_title {
            align-self: center;
            color: #1c1c1e;
            font-size: 16px;
            width: 9.75em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  //Advertising Section
  .Home__adv {
    margin-bottom: 1.5em;
    .Home_adv_list {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;
      overflow-y: auto;

      .Home_adv_list_item {
        display: flex;
        padding: 16px;
        gap: 10px;
        background: #e4f0ff;
        border-radius: 6px;

        .Home_adv_list_item_text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
          width: 11em;
          color: #1c1c1e;

          h3 {
            font-weight: 700;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
          }

          p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
          }
        }

        .Home_adv_list_item_img {
          border-radius: 6px;
          height: 5em;
          width: 5em;
        }
      }
    }
  }

  //New Games Section
  .Home__newGames {
    margin-bottom: 1.5em;
    .Home_newGames_title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.38px;
      color: #1c1c1e;
    }

    .Home_newGames_list {
      /* padding: 0.4em;
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;
      overflow-y: auto;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      } */

      .Home_newGames_list_item {
        display: flex;
        justify-items: start;
        align-content: start;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        cursor: pointer;
        margin: 1em 1.25em 1em 0;
        transition: 0.2s;
        font-weight: 500;

        .Home_newGames_list_item_icon {
          height: 11.5em;
          width: 8.625em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        img:hover {
          opacity: 0.65;
        }

        .Home_newGames_list_item_title {
          line-height: normal;
          padding: 0.75em 0;
          min-height: 2em;
          color: #1c1c1e;
          font-weight: 700;
          width: 8.625em;
          text-align: start;
          font-size: 16px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
  }
  .react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .react-horizontal-scrolling-menu--item:first-child {
    margin-left: 1em;
  }
}

@media screen and (max-width: 768px) {
  .react-horizontal-scrolling-menu--arrow-left,
  .react-horizontal-scrolling-menu--arrow-right {
    display: none !important;
  }
}
