* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  transition: all .1s linear;
  /* position: relative; */
}

body {
  background: #1C1C1E;
  color: #fff;
}

