@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  outline: none;
  transition: all .1s linear;
  /* position: relative; */
}

body {
  background: #f6f6f6;
  color: #313131;
}

