<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
   

.container{
    width: 1786px;
    height: 2148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket_background{
    position: relative;
    width: 1594px;
    height: 738px;
    top: 56px;
    background: #93A1DE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket_construct{
    display: flex;
}
.Client_name{
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-size: 30px;
    line-height: 180%;
    text-align: center;
    color: #676EBE;
    left: 605px;
    top: 380px;
}
.Departure{
    position: absolute;
    z-index: 2;
    font-weight: 600;
    font-size: 30px;
    line-height: 180%;
    text-align: center;
    color: #676EBE;
    left: 605px;
    top: 540px;
}
.Gate{
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #676EBE;
    opacity: 0.46;
    left: 1210px;
    top: 390px;
}
.voucher{
    margin-top: 100px;
    margin-bottom: 20px;
}
.text_body{
    width: 55%;
    font-weight: 600;
    font-size: 30px;
    line-height: 180%;
    text-align: center;
    color: #676EBE;
    margin-bottom: 50px;
}
.stroke{
    margin-bottom: 150px;
}
</style>
<body>
    <div class="container">
        <div class="ticket_background">
            <div class="ticket_construct">
                <img src="https://cdn-s.acuityscheduling.com/upload-a40c23ef7e6bf1eaf995d58416aa2632.png" class="ticket">
                <span class="Client_name">%first% %last%</span>
                <span class="Departure">Spend in Tunes %total%</span>
                <span class="Gate">46 rue de richelieu</span>
            </div>
        </div>

        <div class="voucher">
            <img src="https://cdn-s.acuityscheduling.com/upload-5fcee8ddb20d973b4af5c453916810df.png">
        </div>

        <div class="text_body">
            <span>
                Dear Passenger,
                <br>
                We are happy to let you know that you have received a Gift Voucher to take off to a beauty space. The voucher can  be redeemed at any time. You may choose to make an appointment online using the code %code% ,  call us or message in WhatsApp / Instagram. Looking forward to welcoming you on-board of FACE2UNE Beauty Spaceship. 
                <br>
                <br>
                <br>
                Safe Flight.
                <br>
                tel: +33 603 59 76 61
                <br>
                face2une.com
            </span>
        </div>

        <div class="stroke">
            <img src="https://cdn-s.acuityscheduling.com/upload-f621d99c29c1e6526bc36f95ef0279e1.png">
        </div>
        <div class = "footer">
            <img src="https://cdn-s.acuityscheduling.com/upload-c3429650b6d3c28789d9f79e386e28da.png">
        </div>
           
        
    </div>
</body>
</html>