.ButtonContained {
  height: 44px;
  border-radius: 6px;
  background: #91a0db;
  color: #ffffff;
  padding: 11.5px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;

  font: inherit;
  cursor: pointer;
  border: none;
}

.ButtonContained:hover {
  background: #91a0dbb9;
}

.ButtonContained:active {
}

.ButtonContained:disabled,
.ButtonContained[disabled] {
  cursor: default;
}

.ButtonOutlined {
  height: 44px;
  border-radius: 6px;
  background: #ffffff00;
  color: #91a0db;
  padding: 11.5px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;

  font: inherit;
  cursor: pointer;
  border: 2px solid #91a0db;
}

.ButtonOutlined:hover {
  background: #91a0db3e;
  border: 2px solid #91a0db;
}

.ButtonOutlined:active {
}

.ButtonOutlined:disabled,
.ButtonOutlined[disabled] {
  cursor: default;
}
